
table {
    border-collapse: collapse;
    margin: auto auto ;
    width: 100%;
    max-width: 800px;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    padding: 5px;
}
.odd {background-color:#f2f2f2}

